<div class="container">
  <h2>Inserir Nomes dos Participantes</h2>
  <button (click)="setupVoiceRecognition()" [disabled]="isRecognitionActive" class="start-btn">
    Iniciar Reconhecimento de Voz
  </button>
 <!--  <p>Etapa atual: {{ this.currentStep }}</p>
  <div *ngIf="currentStep === 0" class="instruction">
    <p>Por favor, diga o nome do Jogador 1.</p>
  </div>
  <div *ngIf="currentStep === 1" class="instruction">
    <p>Por favor, escolha sua peça, Jogador 1 (PEÇA 1 ou PEÇA 2).</p>
  </div>
  <div *ngIf="currentStep === 2" class="instruction">
    <p>Por favor, diga o nome do Jogador 2.</p>
  </div>
  <div *ngIf="player1Name" class="feedback">
    <p>Nome do Jogador 1: <strong>{{ player1Name }}</strong></p>
  </div>
  <div *ngIf="player1Piece" class="feedback">
    <p>Jogador 1 escolheu: <strong>{{ player1Piece === 'X' ? 'PEÇA 1 (X)' : 'PEÇA 2 (O)' }}</strong></p>
  </div>
  <div *ngIf="player2Name" class="feedback">
    <p>Nome do Jogador 2: <strong>{{ player2Name }}</strong></p>
    <p>Jogador 2 ficará com a peça: <strong>{{ player2Piece === 'X' ? 'PEÇA 1 (X)' : 'PEÇA 2 (O)' }}</strong></p>
    <p><strong>Gostaria de iniciar o jogo? Diga SIM para começar.</strong></p>
  </div>
  <div *ngIf="decision == 'não'" class="feedback">
    <p><strong>Jogo não iniciado. Por favor, diga SIM para começar.</strong></p>
  </div> -->
</div>
